body {
  background-image: linear-gradient( 107deg,  rgb(1, 0, 32) 27.4%, rgb(6, 17, 49) 92.7% );
      font-family: 'Monda', sans-serif;
}

.titulo {
  color:white;
  text-align: center;
  margin-top: 2px;
}
  
.logotipo1 {
  margin: 0;
  max-width: 93%;
  margin-top: 0;
}


h1 {
  color: white;
  text-align: left;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 80px;
}
h1::after {
  content: '';
  width: 100px;
  height:6px;
  background-color: #66a2fe;
  display: block;
}
.container img {
  margin-top: 50px;
}
form{
  margin-top: 50px
}

label {
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2rem;
}
input[type="submit"]{
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  height: auto;
}
.error {
  background-color: #d63d34;
  padding: 1rem;
  color: white;
  font-size: 18px;
 
  font-weight: bold;
  text-align: center;
  border-radius: 10px
}

.resultado {
  color: white;

}
.resultado h2 {
  font-weight: bold;
  color: white;
}



.resultado p {
  font-size: 18px!important;
}
.resultado p span {
  font-weight: bold;
}
p.precio{
  font-size: 30px!important;
}